/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background-color:  #211fbd;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 15px;
}

header nav ul li {
  cursor: pointer;
  color: white;
  font-weight: bold;
}


header nav ul li:hover {
  text-decoration: underline;
  color: yellow;
}

.hamburger-menu {
  display: none;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

main {
  padding: 20px;
  text-align: center;
}


/* Temples Grid */
.temples-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.temple-card {
  border: 1px solid #242121;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.temple-card img {
  max-width: 100%;
  border-radius: 8px;
}

footer {
  background-color: #211fbd;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header nav ul {
    display: none;
    flex-direction: column;
    background-color: #4a148c;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 0;
    border-radius: 0 0 8px 8px;
  }

  header nav ul li {
    padding: 10px;
  }

  .hamburger-menu {
    display: block;
  }

  header.nav-active ul {
    display: flex;
  }
}