/* Large view styles */
nav ul {
    display: flex;
    justify-content: center;
}

.hamburger-menu {
    display: none;
}

.temple-gallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
}

main {
    max-width: 1200px;
    margin: 0 auto;
}

