/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

/* Header and Navigation */
header {
    background-color: #1c2964;
    color: #fff;
    padding: 0.5rem;
    display: flex;
}

header h1 {
    margin: 0;
    display: flex;
    text-align: center;
    display: inline-flex ;
}

.hamburger-menu {
    display: block;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

nav ul {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;     
}

nav ul li {
    margin: 0.5rem 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
    padding: 1.5rem ;
    position: relative;
    left: 200px    
}

/* Show menu items on hover */
nav ul li a:hover {
    text-decoration: underline;
    color: yellow;
   }

/* Main content */
main {
    padding: 1rem;
    text-align: center;    
}

.temple-gallery {
    display: grid;
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #1c2964;
    color: #fff;
    padding: 0.5rem;
}

footer p {
    margin: 0.5rem 0;
}
